<!DOCTYPE html>
<html>
<head>
    <title>Blog Posts</title>
</head>
<body>
    <h1>Blog Posts</h1>
    <ol>
        {% for post in posts_list %}
            <li>
                <h2><a href="{%url 'post_detail' post.id%}" target="_blank">{{post.title}}</h2></a> 
                <p>{{ post.published_date }}</p>
                <p>Author: <a href="{%url 'posts_by_author' author_id=post.author.id%}" target="_blank">{{post.author.name}}</a></p>
            </li>
        {% endfor %}
    </ol>
</body>
</html>